@model Assignment_7_14_.Models.Student

@{
    ViewData["Title"] = "Student Strongly Typed View";
}

<div class="custom-box">
    <h2 class="text-primary">Student Details</h2>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Age:</strong> @Model.Age</p>
</div>