@{
    ViewData["Title"] = "Student Profile";
}

<div class="custom-box">
    <h2 class="text-success">Student Profile</h2>

    <p><strong>Name:</strong> @ViewBag.Name</p>
    <p><strong>Age:</strong> @ViewBag.Age</p>
</div>