@{
    ViewData["Title"] = "Employee Details";
}

<div class="custom-box">
    <h2 class="text-primary">Employee Details</h2>

    <p><strong>Name:</strong> @ViewData["Name"]</p>
    <p><strong>Salary:</strong> @ViewData["Salary"]</p>
    <p><strong>Department:</strong> @ViewData["Department"]</p>
</div>