@{
    ViewData["Title"] = "Result";
}

<div class="custom-box">
    <h2 class="text-primary">Calculation Result</h2>

    <p><strong>Operation:</strong> @ViewBag.Operation</p>
    <p><strong>Result:</strong> @ViewBag.Result</p>
</div>