body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: black;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {

    body {
        background-color: lightgreen;
    }

    h1 {
        font-size: 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}