@{
    ViewData["Title"] = "User Details";
}

<div class="custom-box">
    <h2 class="text-primary">User Details</h2>

    <p><strong>Name:</strong> @ViewBag.Name</p>
    <p><strong>Age:</strong> @ViewBag.Age</p>
</div>